<form class="modal-content">
    <div class="container">
        <h1 style align="center" >Renew</h1>
        <p style="background-color:rebeccapurple;">Please fill this form to renew your insurance.</p>
        <hr>
       
       <label for="renewid"><b>RenewId</b></label>
        <input type="text" placeholder="Enter your id" name="renewid" required><br>
    
        <label for="claimid"><b>claimid:</b></label>
        <input type="text" placeholder="Enter claimid" name="claimid" required><br>
    
        <label for="policy_no" ><b>policy_no:</b></label>
        <input type="text"  placeholder="enter policy_no" name="dob" required> <br>
    
        <label for="price"><b>price:</b></label>
        <input type="text" placeholder="Enter price" name="number" required><br>
       
        <label for="start_date"><b>start_date:</b></label>
        <input type="date" placeholder="Enter start_date" name="address" required><br>
    
        <label for="policy_type"><b>Polocy_type:</b></label>
        <input type="text" placeholder="Enter policy_type" name="psw" required><br>
    
        <label for="policy"><b>Policy No:</b></label>
        <input type="text" placeholder="Enter Policy No" name="policy" ><br>
  
        <label for="end_date"><b>End_Date</b></label>
        <input type="date" placeholder="Enter end_date" name="policy" ><br>
    
         <button type="submit" class="submitbutton" align="center">Register</button>
    </div>
    </form>
