
<form class="modal-content">
<div class="container">
    <h1 style align="center" >Claim Insurance</h1>
    <p style="background-color:powderblue;"> Claim Your Insurance Here!</p>
    <hr>
   
   <label for="claimid"><b>Claim Id:</b></label>
    <input type="text" placeholder="Enter Claim Id" name="name" required><br>

    <label for="mobileno"><b>Mobile No:</b></label>
    <input type="text" placeholder="Enter Mobile No" name="email" required><br>

    <label for="reason" ><b>Reason:</b></label>
    <input type="text"  placeholder="Enter Reason" name="dob" required> <br>

    <label for="policyno"><b>Policy No:</b></label>
    <input type="text" placeholder="Enter Policy No" name="number" required><br>
   
    <label for="proof"><b>Proof:</b></label>
    <input type="text" placeholder="Enter Your Proof" name="address" required><br>

    <label for="sdate"><b>Start Date:</b></label>
    <input type="text" placeholder="Enter Start Date" name="psw" required><br>

    <label for="edate"><b>End Date:</b></label>
    <input type="text" placeholder="Enter End Date" name="policy" ><br>

    <label for="status"><b>Status:</b></label>
    <input type="text" placeholder="Enter Status" name="policy" ><br>

    <label for="price"><b>Price:</b></label>
    <input type="text" placeholder="Enter Price" name="policy" ><br>

     <button type="submit" class="submitbtn" align="center">Submit</button>
</div>
</form>
