
<div style="text-align: center;">
    <div >
        <h2>Plans</h2>
    </div>
    <div>
        <h3>Choosen type</h3>
        <button class="btn btn-primary">Third Party Liability </button>
        <button class="btn btn-primary">Comprehensive </button>
    </div>
    <div>

        <h3>Choosen type</h3>
           
        <button class="btn btn-primary">One Year</button><br>
        <button class="btn btn-primary">Two Years</button><br>
        <button class="btn btn-primary">Three Years</button><br>
        <h4>Custom Plan</h4>
        <label>Enter Plan</label>
        <input type="Number">
        
    </div>
    <button class="btn btn-danger">Make Payment</button>
</div>